/AlunoRepository.class
/EbookRepository.class
/EmprestimoRepository.class
/ExemplarRepository.class
/LivroRepository.class
/PeriodicoRepository.class
/PesquisadorRepository.class
/ProfessorRepository.class
